@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Customer") || User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/Cart/GetUserCart">
                <span id="cartCount" class="badge text-bg-info">0</span>
                <i class="bi bi-cart text-white"></i>
                </a>
            </li>
        }
    
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active">Hello <span id="username">@User.Identity?.Name </span></a>
                </li>
                <li class="nav-item">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="nav-link active">(Admin)</a>
                    }
                    else if (User.IsInRole("Customer"))
                    {
                        <a class="nav-link active">(Customer)</a>
                    }
                    else if (User.IsInRole("Rider"))
                    {
                        <a class="nav-link active">(Rider)</a>
                    }
                    else
                    {
                        <a class="nav-link active">Null</a>
                    }
                </li>
            </ul>
        </div>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">
                <button type="submit" class="nav-link btn btn-link ">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>